## Autodatan yhdistäminen
Tee funktio autot(url1, url2), joka tekee järjestyksessä seuraavaa:

- lataa datat DataFrameihin url1:sta ja url2:sta, joissa erotinmerkkinä on puolipiste (';'),
- yhdistää uuteen DataFrameen autoihin liittyvät datat url1:stä ja url2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- tekee juuri yhdistetystä DataFramesta Serieksen, josta käy ilmi kuinka monta automerkkiä datassa on (automerkki on sarakkeessa 'Cn'),
- tulostaa em. Serieksestä viisi eniten esiintyvää automerkkiä.

Tässä tehtävässä:

url1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv
url2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv

In [1]:
url1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"

import pandas as pd

def autot(url1, url2):
    
    df1 = pd.read_csv(url1, sep=';')
    df2 = pd.read_csv(url2, sep=';')
    merged_df = pd.merge(df1, df2, how='outer')
    brand_counts = merged_df['Cn'].value_counts()
    tulos = brand_counts.head()
    
    print(tulos)
    
autot(url1, url2)

OCTAVIA    396
FABIA      377
RAPID      197
SUPERB     159
KAROQ      148
Name: Cn, dtype: int64

## Autodatan yhdistäminen ja ryhmittely
Tee funktio autot(url_a1, url_a2, url_b1, url_b2), joka tekee järjestyksessä seuraavaa:

- lataa datat DataFrameihin osoitteista (url_a1, url_a2, url_b1, url_b2), joissa erotinmerkkinä on puolipiste (';'),
- yhdistää uuteen DataFrameen 'dfa' autoihin liittyvät datat url_a1:sta ja url_a2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää uuteen DataFrameen 'dfb' autoihin liittyvät datat url_b1:sta ja url_b2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää DataFramet 'dfa' ja 'dfb' yhdeksi DataFrameksi 'df' sarakkeen 'ID' perusteella,
- jos DataFramessa 'df' on sarakkeessa auton moottorin teho 'ep (KW)' nan arvoja, korvataan ne lukuarvolla nolla,
- tuottaa DataFramen 'tulos', johon on laskettu autojen keskimääräiset tehot sarakkeesta 'ep (KW)' ryhmiteltynä auton valmistajan mukaan 'Mh' (tutki tarvittaessa groupby dokumentaatiosta kuinka groupby palauttaa indeksin),
- järjestää DataFramen 'tulos' rivit keskimääräisen tehon mukaan 'ep (KW)' suurimmasta pienimpään.
- tulostaa edellä jäjestetystä DataFramesta viisi ensimmäistä riviä.

Tässä tehtävässä:

url_a1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv
url_a2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv
url_b1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv
url_b2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv

In [2]:
url_a1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"

import pandas as pd
def autot(url_a1, url_a2, url_b1, url_b2):

    df_a1 = pd.read_csv(url_a1, sep=';')
    df_a2 = pd.read_csv(url_a2, sep=';')
    df_b1 = pd.read_csv(url_b1, sep=';')
    df_b2 = pd.read_csv(url_b2, sep=';')

    dfa = pd.merge(df_a1, df_a2, how='outer')
    dfb = pd.concat([df_b1, df_b2])

    df = pd.merge(dfa, dfb, on = 'ID')
    df['ep (KW)'] = df['ep (KW)'].fillna(0)
    tulos = df.groupby('Mh')['ep (KW)'].mean().reset_index().sort_values(by='ep (KW)', ascending=False).head()

    print(tulos)
    
autot(url_a1, url_a2, url_b1, url_b2)

                Mh     ep (KW)
6            TESLA  386.000000
0           AA-IVA  267.750000
2  FORD WERKE GMBH   89.741007
5            SKODA   81.372515
3              KIA   77.000000

## Autodatan yhdistäminen ja ristiintaulukointi
Tee funktio autot(url_a1, url_a2, url_b1, url_b2), joka tekee järjestyksessä seuraavaa:

- lataa datat DataFrameihin osoitteista (url_a1, url_a2, url_b1, url_b2), joissa erotinmerkkinä on puolipiste (';'),
- yhdistää uuteen DataFrameen 'dfa' autoihin liittyvät datat url_a1:sta ja url_a2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää uuteen DataFrameen 'dfb' autoihin liittyvät datat url_b1:sta ja url_b2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää DataFramet 'dfa' ja 'dfb' yhdeksi DataFrameksi 'df' sarakkeen 'ID' perusteella,
- jos sarakkeessa 'Ft' on merkkijono 'DIESEL', korvataan se merkkijonolla 'Diesel',
- jos sarakkeessa 'Ft' on merkkijono 'PETROL', korvataan se merkkijonolla 'Petrol',
- tekee uuden DataFramen hyödyntäen crosstab funktiota ja sopivaa numpy funktiota, jossa on laskettu esimerkkituloksen mukaisesti keskimääräiset päästöt sarakkeesta 'Enedc (g/km)' autonvalmistaja kohtaisesti (sarake 'Mh') polttoainetyypeittäin (sarake 'Ft'),
- esittää edellä kuvatusta DataFramesta keskimääräiset päästöt yhden desimaalin tarkkuudella,
- valitsee uuteen DataFrameen sarakkeet 'Dielsel' ja 'Petrol',
- tulostaa edellä tuotetusta DataFramesta viisi ensimmäistä riviä.

Tässä tehtävässä:

url_a1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv
url_a2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv
url_b1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv
url_b2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv

In [3]:
url_a1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"

import pandas as pd
import numpy as np

def autot(url_a1, url_a2, url_b1, url_b2):
    
    df_A1 = pd.read_csv(url_a1, sep=';')
    df_A2 = pd.read_csv(url_a2, sep=';')
    df_B1 = pd.read_csv(url_b1, sep=';')
    df_B2 = pd.read_csv(url_b2, sep=';')

    dfa_2 = pd.merge(df_A1, df_A2, how='outer')
    dfb_2 = pd.concat([df_B1, df_B2])

    df = pd.merge(dfa_2, dfb_2, on = 'ID')

    df['Ft'] = df['Ft'].replace('DIESEL', 'Diesel')
    df['Ft'] = df['Ft'].replace('PETROL', 'Petrol')

    new_df = pd.crosstab(index=df['Mh'], columns=df['Ft'], values=df['Enedc (g/km)'], aggfunc=np.mean).round(1)
    new_df = new_df.loc[:, ['Diesel', 'Petrol']]

    tulos = new_df.head()
    
    # Lopuksi vastauksesi tulostetaan tulos muuttujassa
    print(tulos)
    
autot(url_a1, url_a2, url_b1, url_b2)

Ft                   Diesel  Petrol
Mh
AA-IVA                129.0   194.7
AUTOMOBILES CITROEN   102.7   105.6
FORD WERKE GMBH       112.9   133.7
KIA                     NaN    88.0
NISSAN                112.3   127.7

## Autodatan yhdistäminen ja ryhmittely monitasoiseksi DataFrameksi
Tee funktio autot(url_a1, url_a2, url_b1, url_b2), joka tekee järjestyksessä seuraavaa:

- lataa datat DataFrameihin osoitteista (url_a1, url_a2, url_b1, url_b2), joissa erotinmerkkinä on puolipiste (';'),
- yhdistää uuteen DataFrameen 'dfa' autoihin liittyvät datat url_a1:sta ja url_a2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää uuteen DataFrameen 'dfb' autoihin liittyvät datat url_b1:sta ja url_b2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää DataFramet 'dfa' ja 'dfb' yhdeksi DataFrameksi 'df' sarakkeen 'ID' perusteella,
- jos sarakkeessa 'Ft' on merkkijono 'DIESEL', korvataan se merkkijonolla 'Diesel',
- jos sarakkeessa 'Ft' on merkkijono 'PETROL', korvataan se merkkijonolla 'Petrol',
- tekee uuden DataFramen, jossa on laskettu moottorien keskiarvotilavuudet (sarake 'ec (cm3)') ryhmiteltynä sarakkeiden 'Mh' ja 'Ft' mukaan,
- esittää moottorien keskiarvotilavuudet yhden desimaalin tarkkuudella,
- muodostaa monitasoisen DataFramen, jossa sarakeindekseinä ovat monikot ('ec (cm3)', 'Diesel') ja ('ec (cm3)', 'Petrol'),
- jos DataFramessa esiintyy NaN arvoja, niin DataFramen soluun kirjoitetaan merkkijono "no value",
- tulostaa vastaukseen 10 ensimmäistä riviä.

Tässä tehtävässä:

url_a1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv
url_a2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv
url_b1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv
url_b2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv

In [4]:
url_a1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"

import pandas as pd
import numpy as np

def autot(url_a1, url_a2, url_b1, url_b2):
    
    df_A1 = pd.read_csv(url_a1, sep=';')
    df_A2 = pd.read_csv(url_a2, sep=';')
    df_B1 = pd.read_csv(url_b1, sep=';')
    df_B2 = pd.read_csv(url_b2, sep=';')

    dfa_2 = pd.merge(df_A1, df_A2, how='outer')
    dfb_2 = pd.concat([df_B1, df_B2])

    df = pd.merge(dfa_2, dfb_2, on = 'ID')

    df['Ft'] = df['Ft'].replace('DIESEL', 'Diesel')
    df['Ft'] = df['Ft'].replace('PETROL', 'Petrol')

    df_mean = df.groupby(['Mh', 'Ft'])['ec (cm3)'].mean().unstack('Ft')
    df_mean.columns = pd.MultiIndex.from_product([['ec (cm3)'], df_mean.columns])
    df_mean = df_mean.drop([('ec (cm3)', 'Electric'), ('ec (cm3)', 'NG')], axis=1).round(1)
    df_mean = df_mean.fillna('no value')

    tulos = df_mean.head(10)
    
    print(tulos)

    
autot(url_a1, url_a2, url_b1, url_b2)

                     ec (cm3)
Ft                     Diesel    Petrol
Mh
AA-IVA                 1995.0    3596.0
AUTOMOBILES CITROEN    1560.0    1131.0
FORD WERKE GMBH        1615.1    1291.5
KIA                  no value    1580.0
NISSAN                 1559.4    1247.5
SKODA                  1799.5    1190.6
TESLA                no value  no value

## Autodatan yhdistäminen ja ryhmittely monitasoiseksi DataFrameksi (2)
Tee funktio autot(url_a1, url_a2, url_b1, url_b2), joka tekee järjestyksessä seuraavaa:

- lataa datat DataFrameihin osoitteista (url_a1, url_a2, url_b1, url_b2), joissa erotinmerkkinä on puolipiste (';'),
- yhdistää uuteen DataFrameen 'dfa' autoihin liittyvät datat url_a1:sta ja url_a2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää uuteen DataFrameen 'dfb' autoihin liittyvät datat url_b1:sta ja url_b2:sta (tutki tarvittaessa mitä dataa urleista on saatavilla),
- yhdistää DataFramet 'dfa' ja 'dfb' yhdeksi DataFrameksi 'df' sarakkeen 'ID' perusteella,
- jos sarakkeessa 'Ft' on merkkijono 'DIESEL', korvataan se merkkijonolla 'Diesel',
- jos sarakkeessa 'Ft' on merkkijono 'PETROL', korvataan se merkkijonolla 'Petrol',
- tallentaa uuteen DataFrameen sarakkeet 'Enedc (g/km)', 'MS' ja 'Ft',
- korvaa sarakkeen nimen 'Enedc (g/km)' nimellä 'Avg emissions (g/km)',
- korvaa sarakkeen nimen 'MS' nimellä 'Member State',
- korvaa sarakkeen nimen 'Ft' nimellä 'Fuel type',
- laskee uuteen DataFrameen keskimääräiset päästöt (sarake 'Avg emissions (g/km)') maittain (sarake 'Member State') ja polttoainetyypeittäin (sarake 'Fuel type'),
- jättää edellä tuotettuun monitasoiseen DataFrameen vain 'Diesel' ja 'Petrol' sarakkeet,
- laskee uuteen sarakkeeseen 'D-P' kuinka paljon sarkkeen 'Diesel' arvo on suurempi kuin sarakkeen 'Petrol',
- järjestää DataFramen sarakkeen 'D-P' mukaan laskevaan järjestykseen,
- pyöristää ja esittää DataFramen lukuarvot kokonaislukujen tarkkuudella,
- tulostaa vastaukseen DataFramesta viisi ensimmäistä riviä.

Tässä tehtävässä:

url_a1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv
url_a2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv
url_b1=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv
url_b2=https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv

In [5]:
url_a1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2 = "https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"

import pandas as pd
#import numpy as np

def autot(url_a1, url_a2, url_b1, url_b2):
    
    df_A1 = pd.read_csv(url_a1, sep=';')
    df_A2 = pd.read_csv(url_a2, sep=';')
    df_B1 = pd.read_csv(url_b1, sep=';')
    df_B2 = pd.read_csv(url_b2, sep=';')

    dfa_2 = pd.merge(df_A1, df_A2, how='outer')
    dfb_2 = pd.concat([df_B1, df_B2])

    df = pd.merge(dfa_2, dfb_2, on = 'ID')

    df['Ft'] = df['Ft'].replace('DIESEL', 'Diesel')
    df['Ft'] = df['Ft'].replace('PETROL', 'Petrol')

    df_new = df.loc[:, ['Enedc (g/km)', 'MS', 'Ft']]
    df_new = df_new.rename(columns={'Enedc (g/km)': 'Avg emissions (g/km)'})
    df_new = df_new.rename(columns={'MS': 'Member State'})
    df_new = df_new.rename(columns={'Ft': 'Fuel type'})
    #df_new
    df_grouped = df_new.groupby(['Member State', 'Fuel type'])[('Avg emissions (g/km)')].mean().unstack('Fuel type')
    df_grouped.columns = pd.MultiIndex.from_product([['Avg emissions (g/km)'], df_grouped.columns])
    df_grouped = df_grouped.drop([('Avg emissions (g/km)', 'Electric'), ('Avg emissions (g/km)', 'NG')], axis=1)

    df_grouped['Avg emissions (g/km)','D-P'] = df_grouped['Avg emissions (g/km)']['Diesel'] - df_grouped['Avg emissions (g/km)']['Petrol']
    df_sorted = df_grouped.sort_values(('Avg emissions (g/km)', 'D-P'), ascending=False)
    tulos = df_sorted.round(decimals=0).applymap("{:.0f}".format).head()
    
    print(tulos)
    
autot(url_a1, url_a2, url_b1, url_b2)

             Avg emissions (g/km)
Fuel type                  Diesel Petrol D-P
Member State
EE                            132    108  25
FI                            137    112  25
LV                            131    108  23
GR                            122    100  22
CZ                            122    110  12